     <footer class="footer">
       <div class="social-icons">
        <a href="https://github.com/Thangarasuselvam96" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/thangarasu-selvam" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-linkedin-square"></i>
        </a>

        <a href="https://www.instagram.com/thangarasu__selvam/" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-instagram-alt"></i>
        </a>
      </div>

      <ul class="list">
        <li>
          <a href="#">FAQ</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#about">About Me</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>

      <p class="copyright">
        All Rights Reserved
      </p>
     </footer>