<header class="header">
  <a href="#home" class="logo">
    Thangarasu <span>Selvam</span>
  </a>

  <i
    class="bx"
    [class.bx-menu]="!menuOpen"
    [class.bx-x]="menuOpen"
    id="menu-icon"
    (click)="toggleMenu()">
  </i>

  <nav class="navbar" [class.active]="menuOpen">
    <a (click)="scrollTo('home')">Home</a>
    <a (click)="scrollTo('about')">About</a>
    <a (click)="scrollTo('services')">Services</a>
    <a (click)="scrollTo('projects')">Projects</a>
  </nav>

  <button (click)="scrollTo('contact')" class="gradient-btn">Contact Me</button>
</header>