.navbar {
  position: absolute;
  top: 100%;
  right: 0;
  width: 70%;
  max-width: 320px;
  padding: 2rem;
  background: rgba(0,0,0,.95);

  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;

  transition: .3s ease;
}

.navbar.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}