<section class="home" id="home">
    <div class="home-content">
      <h1>Hi It's <span>Thangarasu</span></h1>
      <h3>I'm a <span>Fullstack Developer</span></h3>
      <p>
        Building scalable, high-performance web applications with Java, Spring Boot,
        and Angular. Passionate about clean architecture, cloud technologies, and
        continuously learning AI & Machine Learning to build intelligent software.
      </p>
      <div class="social-icons">
        <a href="https://github.com/Thangarasuselvam96" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/thangarasu-selvam" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-linkedin-square"></i>
        </a>

        <a href="https://www.instagram.com/thangarasu__selvam/" target="_blank" rel="noopener noreferrer">
          <i class="bx bxl-instagram-alt"></i>
        </a>
      </div>

      <div class="btn-group">
        <a href="#contact" class="btn" id="hire">Hire</a>
        <a href="#about" class="btn">Learn More</a>
      </div>
    </div>

    <div class="home-img">
      <img src="images/image.png" alt="">
    </div>
  </section>
