  <section class="projects" id="projects">
      <h2 class="heading">Projects</h2>
      <div class="coming-soon">
        <i class='bx bx-code-block'></i>
        <h3>Projects Coming Soon</h3>
        <p>
            I'm currently working on a collection of full-stack, cloud-native,
            and AI-powered projects. Stay tuned for exciting updates!
        </p>
    </div>
      <!-- <div class="projects-box">
        <div class="project-card">
          <img src="images/project1.png" alt="">

          <h3>Prject 1</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, similique asperiores! Delectus tenetur accusamus, voluptatibus possimus id adipisci vitae facilis non suscipit, quos unde ex perspiciatis ut nulla dolorum magni!</p>
          <div class="btn">Review Project</div>
        </div>
        <div class="project-card">
          <img src="images/project2.png" alt="">

          <h3>Prject 2</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, similique asperiores! Delectus tenetur accusamus, voluptatibus possimus id adipisci vitae facilis non suscipit, quos unde ex perspiciatis ut nulla dolorum magni!</p>
          <div class="btn">Review Project</div>
        </div>
        <div class="project-card">
          <img src="images/project3.png" alt="">

          <h3>Prject 3</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, similique asperiores! Delectus tenetur accusamus, voluptatibus possimus id adipisci vitae facilis non suscipit, quos unde ex perspiciatis ut nulla dolorum magni!</p>
          <div class="btn">Review Project</div>
        </div>
        <div class="project-card">
          <img src="images/project4.png" alt="">

          <h3>Prject 4</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, similique asperiores! Delectus tenetur accusamus, voluptatibus possimus id adipisci vitae facilis non suscipit, quos unde ex perspiciatis ut nulla dolorum magni!</p>
          <div class="btn">Review Project</div>
        </div>
        <div class="project-card">
          <img src="images/project5.png" alt="">

          <h3>Prject 5</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, similique asperiores! Delectus tenetur accusamus, voluptatibus possimus id adipisci vitae facilis non suscipit, quos unde ex perspiciatis ut nulla dolorum magni!</p>
          <div class="btn">Review Project</div>
        </div>
        <div class="project-card">
          <img src="images/project6.png" alt="">

          <h3>Prject 6</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, similique asperiores! Delectus tenetur accusamus, voluptatibus possimus id adipisci vitae facilis non suscipit, quos unde ex perspiciatis ut nulla dolorum magni!</p>
          <div class="btn">Review Project</div>
        </div>
      </div> -->
   </section>
